.episode-details-title {
  margin-top: 0;
}

div.episode-details-html-content {
  font-style: italic;
  margin-bottom: 48px;
}

audio.episode-details-audio {
  width: 100%;
}

.ant-skeleton.episode-details-audio,
.ant-skeleton.episode-details-audio > span.ant-skeleton-button {
  width: 100%;
  height: 54px;
}