/* Global styles */
.ant-card {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.33);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.33);
}

.clickable:hover {
  cursor: pointer;
  opacity: 0.7;
}